---
layout: default
title: Home
---

<div class="posts">
  <h2 class="sr-only">Blog posts index page {{ paginator.page }}</h1>
  {% for post in paginator.posts %}
  <article class="post">
    <h2 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    <time
      datetime="{{ post.date | date: "%Y-%m-%d" }}"
      class="post-date">
      {{ post.date | date_to_string: "ordinal" }}
    </time>

    {{ post.excerpt }}
      <a
        href="{{ post.url }}"
        class="read-more"
        aria-label="Read full post about '{{ post.title }}'"
      >Read more...</a>
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" rel=“prev” href="{{ "/" | relative_url }}page/{{paginator.next_page}}/">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a
      class="pagination-item newer"
      href="{{ "/" | relative_url }}{% if paginator.page != 2 %}page/{{paginator.previous_page}}/{% endif %}"
      rel=“next”
      >Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

{% if paginator contains "page" and paginator.page == 1 %}

{% assign tags = site.pages | map: "tag" | compact %}

{% if tags %}
<div>
  <h2>Browse posts by tags</h2>
  <p>
    The posts touch a lot of different topics in no particular order.
    It might be more convenient to browse by tags if you have a topic of specific interest.
  </p>
</div>

<ul>
{% for tag in tags %}
  <li><a href="/tags/{{ tag | downcase }}/">#{{ tag | downcase }}</a>
{% endfor %}
</ul>

{% endif %}

{% endif %}
