---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="dates">
    <time
      datetime="{{ page.date | date: "%Y-%m-%d" }}">
      {{ page.date | date_to_string: "ordinal" }}
    </time>

    {% if page.updated_date %}
    <time
      datetime="{{ page.updated_date | date: "%Y-%m-%d" }}"
      class="updated-date">
      (updated on {{ page.updated_date | date_to_string: "ordinal" }})
    </time>
    {% endif %}
  </div>

  {% if page.image %}
    {% include featured_image.html
       src=page.image
       alt=page.image_alt %}
  {% endif %}

  {{ content }}

  {% if page.support %}
  <p>
    <a href="https://www.buymeacoffee.com/jacobemcken" target="_blank">
      <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png"
           alt="Buy Me A Coffee" style="height:60px !important; width:217px !important;">
    </a>
  </p>
  {% endif %}

  <footer class="license">
    <hr>
    {% include cc_attribution_sharealike.html %}
  </footer>
</article>

{% include related_posts.html %}
