---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time
    datetime="{{ page.date | date: "%Y-%m-%d" }}"
    class="post-date">
    {{ page.date | date_to_string: "ordinal" }}
  </time>

  {% if page.image %}
    {% include featured_image.html
       src=page.image
       alt=page.image_alt %}
  {% endif %}

  {{ content }}

  {% if page.support %}
  <p>
    <a href="https://www.buymeacoffee.com/jacobemcken" target="_blank">
      <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png"
           alt="Buy Me A Coffee" style="height:60px !important; width:217px !important;">
    </a>
  </p>
  {% endif %}

  <footer class="license">
    <hr>
    {% include cc_attribution_sharealike.html %}
  </footer>
</article>

{% include related_posts.html %}

{% if page.comments == true %}
<section>
  <h2>Comments</h2>
  <div id="disqus_thread" aria-live="polite">{% include disqus.html %}</div>
</section>
{% endif %}
